<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.with"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.with.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.with.permission.C2D_MESSAGE" />

    <application
        android:name="com.with.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/friends"
        android:label="@string/app_name" >
        <activity
            android:name="com.with.ParseStarterProjectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.with.FriendsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.with.chat.ChatWindow"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.with.SignUp"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.with.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.with.DataService" >
        </service>

        <activity
            android:name="com.with.StartActivity"
            android:label="@string/title_activity_start"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- SALES -->
        <activity
            android:name="com.with.sales.MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.with.sales.SalesActivity"
            android:label="@string/title_activity_sales"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.with.sales.OnPushActivity"
            android:label="@string/title_activity_on_push"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.with.PushReceiver" >
            <intent-filter>
                <action android:name="com.example.UPDATE_STATUS" />
                <action android:name="com.with.CHAT" />
            </intent-filter>
        </receiver>

        <service android:name="com.with.sales.CheckService" />

        <activity
            android:name="com.with.tours.ToursActivity"
            android:label="@string/title_activity_tours" >
        </activity>
        <activity
            android:name="com.with.tours.ToursList"
            android:label="@string/title_activity_tours_list" >
        </activity>
        <activity
            android:name="com.with.guides.GuidesList"
            android:label="@string/title_activity_guides_list" >
        </activity>
        <activity
            android:name="com.with.tourbuild.PoiDetailsActivity"
            android:label="@string/title_activity_poi_details" >
        </activity>
        <activity android:name="com.with.tourbuild.TourDetailsActivity" >
        </activity>
        <activity
            android:name="com.with.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver 
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.with" />
            </intent-filter>
        </receiver>
    </application>

</manifest>